# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# User Defined
debug.py
old*
test*
extras*
*copy


# Store only these
# examples/gc_/eval.txt
# examples/gc_/result.txt
# examples/gc_/words.txt
# examples/mt_/transcribed.txt
# examples/mt_/words.txt


# Ignore from data & examples to reduce space
*.csv
*.json

# Specific to data
data/*/*/*.txt

# Specific to examples/gc_
examples/gc_/detailed.txt
examples/gc_/fix_wordmap.txt
examples/gc_/output.txt
examples/gc_/raw_eval.txt
examples/gc_/uniq_words_bn.swap.txt
examples/gc_/uniq_words_bn.txt
examples/gc_/wordmap.swap.txt
examples/gc_/wordmap.txt
examples/gc_/words.swap.txt

# Specific to examples/mt_
examples/mt_/comparison.txt
examples/mt_/detailed.txt
examples/mt_/output.txt
examples/mt_/transliterated.txt
examples/mt_/uniq_words_mm.txt
examples/mt_/wordmap.txt

# Specific to examples/mt_base_
examples/mt_base_/comparison.txt
examples/mt_base_/transliterated.txt
examples/mt_base_/ext_comparison.txt
examples/mt_base_/ext_transliterated.txt
